@model IEnumerable<Samples.Common.ICustomer>
@{
	ViewBag.Title = "Customers";
}

<div class="jumbotron">
	<h1>@ViewBag.Title</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
			<tr>
				<th>Customer Number</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Date of Birth</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var customer in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => customer.Id)</td>
					<td>@Html.DisplayFor(modelItem => customer.FirstName)</td>
					<td>@Html.DisplayFor(modelItem => customer.LastName)</td>
					<td>@Html.DisplayFor(modelItem => customer.DateOfBirth)</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-4"><button class="btn btn-primary">Add</button></div>
</div>
